{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*-----Text-----*/
h1  {font-size: 6em;
margin-top: 5px;}
h2  {font-size: 3em;
}
h3  {font-size: 2.6em;
margin-top: -0.5em;}
p {font-size: 1em;
padding-left: 1em;
padding-right: 1em;
margin-left: 4em;
margin-right: 4em;}
/*-----styling-----*/

body
{
    text-align: center;
    background-color: White;
    font-family: 'Droid+SeriF';
    padding: 1
}



body > div {display: flex;
    flex-flow: column;
    
    border-color: black;
    background-color: antiquewhite;
}
.one
 {
     padding-bottom: 5em;
     padding-top: 5em;
     background-color: #29C4FF;
     background: url(../images/MOI.jpg) no-repeat center center fixed;
}
.two{ padding-bottom: 5em;
     padding-top: 5em;
     background-color: #29C4FF;
    color: black;
    
}

header { background: #29C4FF;
padding-bottom: 8em;
padding-top: 8em;
color:black;}

footer {padding-bottom: 5em;
     padding-top: 5em;
     background-color: #29C4FF;
    color: black;
}

a {color: aliceblue;
text-decoration: none;
   
}

/*-----nav----*/

.nav ul { list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    order: 2;
}

.nav li { font-size:  1.2em;
    line-height:  40px;
    height: 40px;
    border-bottom: 1px solid white;
}

.nav a {
    text-decoration: none; 
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover { 
    background-color:#00C3FF;
}

.nav a.active {
    background-color:  #fff;
    color: white;
    cursor: default;
}

/*--Images----*/

img {width: 100%
;
border: 5px solid: Yellow;
}

a:hover {color: #29C4FF}
