body {
  width: 60%;
  margin: auto;
  font-family: "Open Sans", sans-serif; 
}
/*----Text----*/
h1 {
    font-size: 4.9em;
    font-weight: normal;
    margin-top: -0.25em; }
h2 {
    font-size: 2.25em;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: italic;
    margin-top: -2.25em; }
 h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 4em; }
.john {
    text-transform: uppercase;
    font-weight: bold; }
blockquote {
    display: block;
    float: left;
    margin-left: 0;
    font-style: italic;
    color: dimgrey;
    line-height: 1.5em;
    font-size: 1.25em; }
cite {
    font-size: 0.75em;
    text-transform: uppercase;
    font-style: normal; }
/*----Para----*/
.top {
    font-size: 1.25em;
    line-height: 1.25em;
    line-height: 1.4em; }
p {
    font-size: 1em;
    font-weight: normal; }


 hr {
    color: crimson; }
.bottom {
    margin-top: -1em;
    text-indent: 2em; 
}

