* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {  width: 75%;
            max-width: 650px; 
            min-width: 320px;
            font-size: 100%;
            font-family: 'Libre Baskerville', Georgia, Times, "Times New Roman", serif;
            margin: auto;
            color: #666666;
    line-height: 1.8em;
}