{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body
{
    text-align: center;
    background-image: url(Dan.jpg); 
}

.main {
      display: box;
      display: -moz-box;
      display: -webkit-box;
      position: absolute;
      top: 0;
      bottom: 0;
    }

body > div {display: flex;
    flex-flow: column;
    border: 2px;
    border-color: black;
    padding-top: 20em;
    padding-bottom: 20em;
    padding-right: 10em;
    padding-left: 10em
}
header {background-image: url(Dan.jpg);
}