

{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {background-color:antiquewhite;
    font-family: 'Dosis', sans-serif;
    align-content: center;
}

h1 { font-size:  6.854em;
font-weight: normal;}
h2 { font-size:  4.236em;
font-weight: normal;}
h3 { font-size:  2.618em;
font-weight:bolder;}
p  { font-size:  1em;
}



blockquote {
    font-size: 2.618em;
}
cite {
font-size: 2.3em;
}

header {background-image: url("about600.jpg");
}


body > div > header,nav,p,footer,section,blockquote {
    background: #E6C40C;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center; 
    padding-left: 5em;
    padding-right: 5em;
    background-image: image()
}

body > div > header {
    order: 2; 
}
body > div > nav { 
    order: 1;
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #2BD7A9;

}
body > div > section{
    order: 3;
}
body > div > footer { order: 4;
}
body > div {display: flex;
    flex-flow: column;
}

body > div > p { font-size: 0.2em;}

.saul {padding-bottom: 5em;}


.nav ul { list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li { font-size:  1.2em;
    line-height:  40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none; 
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover { 
    background-color: #005f5f
}

.nav a.active {
    background-color:  #fff;
    color: #444;
    cursor: default;
}

